@media only screen and (max-width: 400px) {
  .buttons button {
    width: 100%;
  }
  .me-2 {
    margin-right: 0.1rem !important;
  }
  .btn {
    font-size: 0.8rem !important;
    padding: 0.2rem 0.2rem !important;
  }
}
